<div class="container" id="header">
    <div class="button form-inline">
        <a href="about/index">
            <button type="button">ABOUT</button>
        </a>
        <form action="https://www.paypal.com/cgi-bin/webscr" target="_blank" method="post">
            <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="business" value="donations@codeplatoon.org">
            <!-- Specify a Donate button. -->
            <input type="hidden" name="cmd" value="_donations">
            <!-- Specify details about the contribution -->
            <input type="hidden" name="item_name" value="Code Platoon">
            <input type="hidden" name="item_number" value="Non-profit Revenue">
            <input type="hidden" name="currency_code" value="USD">
            <!-- Display the payment button. -->
            <button class="button" name="submit" alt="Donate">DONATE</button>
        </form>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <p>
                    <%= notice %>
                </p>
                <p>
                    <%= alert %>
                </p>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">REQUEST INFORMATION:</h4>
                    </div>
                    <div class="modal-body bg-inverse form-inline justify-content-center">
                        <p class="modal-header">I'm interested in more information on becoming a...</p>
                        <div class="modal-item">
                            <div class="modal-divider"></div>
                            <button type="button" data-toggle="modal" data-target="#studentModal">
                                STUDENT
                                <br>
                            </button>
                            <br>
                            <!-- Button trigger modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span>
                                                <span class="sr-only">Close</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                INFO REQUEST FORM: STUDENT & ADMISSIONS 
                                            </h4>
                                        </div>
                                        <!-- Modal Body -->
                                        <div class="modal-body">
                                            <form class="form-horizontal" role="form">
                                                <%= render template: 'students/new' %>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--STUDENT MODAL & FORM WILL GO HERE-->
                        </div>
                        <div class="modal-divider"></div>
                        <div class="modal-item">
                            <button type="button" data-toggle="modal" data-target="#sponsorModal">
                                SPONSOR
                            </button>
                            <br>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="sponsorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only">Close</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            INFO REQUEST FORM: SPONSORSHIP 
                                        </h4>
                                    </div>
                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">
                                            <%= render template: 'sponsors/new' %>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-divider"></div>
                        <div class="modal-item">
                            <button type="button" data-toggle="modal" data-target="#volunteerModal">
                                VOLUNTEER
                            </button>
                            <br>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="volunteerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only">Close</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            INFO REQUEST FORM: VOLUNTEERING
                                        </h4>
                                    </div>
                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">
                                            <%= render template: 'volunteers/new' %>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-divider"></div>
                    </div>
                </div>
                <div class="modal-footer bg-inverse justify-content-center">
                    <a href="mailto:rod@codeplatoon.org" class="btn btn-info"> Need something else? Email Us!</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <h1 class="display-1"><br>CODE</h1>
    <h1 class="display-1">PLATOON</h1>
    <br>
    <p class="lead">
        <br>The coding bootcamp for people that have been to bootcamp.</p>
    </h1>
    <!-- Button trigger modal -->
    <button type="button" data-toggle="modal" data-target="#myModal">
        REQUEST INFORMATION
    </button>
    <!-- Modal -->
    <div id="charity-annotation">
        <small>Code Platoon is a 501(c)(3) registered non-profit, contributions help turn veterans into software developers.</small>
    </div>
</div>
