<div class ='bg-inverse'>
  <h2>
  <p>Select a link to learn more.<br>
  <%= link_to("blog", "/about/blog") %><br>
  <%= link_to("Class Content", "/about/class_content") %><br>
  <%= link_to("Contact Info", "/about/contact_info") %><br>
  <%= link_to("Curriculum", "/about/curriculum") %><br>
  <%= link_to("In The News", "/about/in_the_news") %><br>
  <%= link_to("Code Platoon Team", "/about/meet_the_team") %><br>
  <%= link_to("Current Sponsors", "/about/sponsors") %></p></h2>
</div>
