<div class ='bg-inverse'>
  <h1>About#index</h1>
  <p>Find me in app/views/about/index.html.erb</p>
  <%= link_to("blog", "/about/blog") %>
  <%= link_to("Class Content", "/about/class_content") %>
  <%= link_to("Contact Info", "/about/contact_info") %>
  <%= link_to("Curriculum", "/about/curriculum") %>
  <%= link_to("In The News", "/about/in_the_news") %>
  <%= link_to("Code Platoon Team", "/about/meet_the_team") %>
  <%= link_to("Current Sponsors", "/about/sponsors") %>
</div>
